body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}


/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

/* download button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 275px;
  right: 20%;
  transform: rotate(25deg);
  position: absolute;
}
#features {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

/* product information */
.product-information {
  padding: 7% 15%;
  text-align: center;
  margin: 0;
}

.product-information-content {
  padding: 35px;
}

.product-information p {
  color: #8f8f8f;
}

.product-information h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

.product-icon {
  color: #ef8172;
  padding-bottom: 8%;
}

.product-icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
  font-family: "Montserrat";
}

#testimonials h2 {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.btn-wd {
  width: 100%;
}

.btn-cl {
  background-color: #393E46;
}

#cta {
  background-color: #ff4c68;
  color: white;
  padding: 6% 0;
}

#cta h3 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: italic 600;
}
#footer {
padding: 7% 15%;
}
#footer p {
  font-size: 0.8rem;
  margin: 10px;
}
.ic {
  margin: 5px;
}
@media (max-width: 995px){
  .title-image {
    position: static;
    transform: rotate(0);
    width: 225px;
    right: 40%;
  }
  #title {
    text-align: center;
  }
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 1270px) and (min-width: 994px){
  .title-image {
    transform: rotate(0);
    width: 250px;
    position:static;
  }
}
